.community-selector {
    position: relative;
    max-width:max-content;
}

.community-selector .arrow {
    border-color: var(--color-white) transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    display: block;
    height: 0;
    width: 0;
    margin-top: 0.3rem;
    position: absolute;
    right: 10px;
    top: 14px;
}

.community-selector .arrow.open {
    border-color: transparent transparent var(--color-white);
    border-width: 0 5px 5px;
}

.community-selector .control .search-value {
    background-color: var(--color-dark-bg);
    line-height: 1.5;
    font-size: 1rem;
    border: 1px solid var(--color-light-gray);
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    width: 100%;
}

.community-selector .options {
    display: none;
    opacity: 100%;
    background-color: var(--color-dark-bg);
    border: 1px solid var(--color-light-gray);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.community-selector .options.open {
    display: block;
}

.community-selector .option {
    box-sizing: border-box;
    color: var(--color-white);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}

.community-selector .option.selected,
.community-selector .option:hover {
    background-color: var( --color-light-gray);
    color: var(--color-black);
}