
.post-form {
    color: var(--color-primary-dark-purple);
    font-family: sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-dark-bg);
}

.post-form input,
.post-form select,
.post-form textarea {
    font-weight: bold;
    background-color: var(--color-card-hover);
    border: "none";
    padding: 10px;
    border-radius: 5px;
    width: 110%;
    margin: 1px 0 5px;
    
}

.post-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: var(--color-white);
    font-size: large;
}

.post-form button {
    margin-left: 15px;
    padding: 8px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;

}

.post-form button[type="submit"] {
    background-color: var(--color-primary-blue);
    color: var(--color-white);
    font-weight: bold;
}

.post-form button[type="reset"] {
    background-color: var(--color-primary-dark-purple);
    color: var(--color-white);
    font-weight: bold;
}

.post-form button[type="button"] {
    background-color: var(--color-error);
    color: var(--color-white);
    font-weight: bold;
}
.post-form button[type="submit"]:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: bold;
}

.post-form button[type="reset"]:hover {
    background-color: var(--color-primary-purple);
    color: var(--color-white);
}

.post-form button[type="button"]:hover {
    background-color: var(--color-error-hover);
    color: var(--color-white);
}