
.job-post-form {
    font-family: sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-dark-bg);
}

.job-post-form input,
.job-post-form select,
.job-post-form textarea {
    font-weight: bold;
    background-color: var(--color-card-hover);
    color: var(--color-white);
    border: "none";
    padding: 10px;
    border-radius: 5px;
    width: 110%;
    margin: 1px 0 5px;
    
}

.job-post-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: var(--color-white);
    font-size: large;
}

.job-post-form button {
    margin-left: 5px;
    padding: 4px 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    flex-wrap: wrap;

}

.job-post-form button[type="submit"] {
    background-color: var(--color-primary-blue);
    color: var(--color-white);
    font-weight: bold;
}

.job-post-form button[type="reset"] {
    background-color: var(--color-primary-dark-purple);
    color: var(--color-white);
    font-weight: bold;
}

.job-post-form button[type="button"] {
    background-color: var(--color-error);
    color: var(--color-white);
    font-weight: bold;
}
.job-post-form button[type="submit"]:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: bold;
}

.job-post-form button[type="reset"]:hover {
    background-color: var(--color-primary-purple);
    color: var(--color-white);
}

.job-post-form button[type="button"]:hover {
    background-color: var(--color-error-hover);
    color: var(--color-white);
}