.password-change-reset-page {
    margin-top: 15px;
    margin-right: auto;
}

.password-change-reset-page .modal-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #d1d5db;
  /* text-gray-300 */
  margin-bottom: 0.35rem;
}

.password-change-reset-page .modal-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-dark-bg);
  color: white;
  border: 1px solid #4b5563;
  outline: none;
}

.password-change-reset-page .modal-input:focus {
  border-color: var(--color-primary-blue);
  box-shadow: 0 0 0 2px var(--color-primary-blue);
}

.password-change-reset-page .reset-password {
  background-color: var(--color-primary-orange);
  color: var(--color-white);
  width: 40%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 1rem;
}

.password-change-reset-page .reset-password:hover {
  background-color: var(--color-primary-dark-orange);
}