  /* ===== Base Styles ===== */
  .pg-post-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* Post List Item */
  .pg-post-list-item {
    margin-bottom: 2rem;
  }
  
  /* Post Snippet */
  .pg-post {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    background-color: var(--color-dark-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--text-light);
    font-family: 'Segoe UI', sans-serif;
    margin: 1rem 0;
    transition: var(--transition);
  }
  
  .pg-post:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 10px rgba(1, 196, 164, 0.4);
  }
  
  .pg-post-details {
    flex: 4;
  }
  
  .pg-post h3 {
    color: var(--color-primary-teal);
    margin-bottom: 0.625rem;
    font-size: 1.5rem;
  }
  
  .pg-post-location,
  .pg-post-details span {
    display: block;
    margin: 0.3125rem 0;
    font-size: 1rem;
  }
  
  .pg-post-ratings {
    display: flex;
    align-items: center;
    margin-top: 0.625rem;
    gap: 0.625rem;
  }
  
  .pg-post-rating-item {
    margin-right: 0.9375rem;
    font-size: 0.95rem;
    color: var(--text-muted);
    font-style: italic;
  }
  
  /* Links */
  .pg-post a {
    color: var(--primary-color);
    text-decoration: none;
    transition: var(--transition);
  }
  
  .pg-post a:hover {
    color: var(--primary-teal-hover);
    text-decoration: underline;
  }
  
  /*PG Modal Form*/
  .pg-modal-form-wrapper.ReactModal__Content {
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    overflow: visible !important;
    box-shadow: none !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  
  /* Form Styles */
  .pg-modal-form {
    background-color: var(--color-dark-bg); 
    padding: 2rem;
    border-radius: var(--border-radius);
    max-height: 90vh;
    overflow-y: auto;
    color: var(--text-light);
    box-shadow: var(--box-shadow); 
  }
  
  
  .pg-modal-form label {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  .pg-modal-form input,
  .pg-modal-form select,
  .pg-modal-form textarea {
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .pg-modal-form textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  /* Form Buttons */
  .pg-modal-form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
  }
  
  .pg-modal-form button {
    background-color: var(--color-primary-teal);
    color: white;
    padding: 0.625rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transition);
  }
  
  .pg-modal-form button:hover {
    background-color: var(--primary-teal-hover);
  }
  
  .cancel-button {
    background-color: var(--error-color) !important;
  }
  
  .cancel-button:hover {
    background-color: var(--error-hover) !important;
  }

  .new-pg-btn {
    background-color: var(--color-primary-teal); 
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px; 
    margin-top: 10px;
  }

.new-pg-btn:hover {
    background-color: var(--primary-teal-hover);
}

.pg-header-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 10px;
  margin: 10px 0 20px 20px; 
}

.search-icon {
  color: #4db8ff; 
  width: 32px;
  height: 32px;
}
