/* Styles for PgPostList    */
.pg-post-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pg-post-list-item {
    margin-bottom: 50px;
}

/* Styles for PgPostSnippet    */
.pg-post {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(1, 196, 164, 0.3);
    color: #f0f0f0;
    font-family: 'Segoe UI', sans-serif;
    margin: 15px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pg-post:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 10px rgba(1, 196, 164, 0.4);
}

.pg-post-details {
    flex: 4;
}

.pg-post h3 {
    color: #01c4a4;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.pg-post-location
.pg-post-details span {
    display: block;
    margin: 5px 0;
    font-size: 1rem;
}

.pg-post-ratings {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.pg-post-rating-item {
    margin-right: 15px;
    font-size: 0.95rem;
    color: #cccccc;
    font-style: italic;
}

/* Link styles inside PG post */
.pg-post a {
    color: #01c4a4;
    text-decoration: none;
}

.pg-post a:hover {
    color: #019a86;
    text-decoration: underline;
}
